.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  @include on-desktop {
    height: 90px;
  }

  &__link {
    display: block;
  }

  &__logo {
    @include hover(transform, scale(1.2));

    height: 40px;
  }
}
