h1 {
  @extend %h1;

  margin: 0;

  @include on-tablet {
    font-size: 72px;
  }

  @include on-desktop {
    font-size: 96px;
  }
}

h2 {
  @extend %h2;

  margin: 0;

  @include on-tablet {
    font-size: 62px;
  }

  @include on-desktop {
    font-size: 80px;
  }
}

h3 {
  @extend %h3;

  margin: 0;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

h4 {
  @extend %h4;

  margin: 0;

  @include on-tablet {
    font-size: 24px;
  }
}

h5 {
  @extend %h5;

  margin: 0;
}

h6 {
  @extend %h6;

  margin: 0;
}

button {
  @extend %button;

  margin: 0;
}

body {
  @extend %main;

  margin: 0;
}

p {
  @extend %main;

  margin: 0;
}
